body {
    padding-top: 70px;
}

/*TODO: fix weird button alignment*/
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand {float:none;}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

/*TODO: fix colour when fridge icon not selected*/
/*TODO: delete png icon if not used*/
.fridge-icon {
    width: 14px;
    height: 14px;
    content: url('../img/icons/fridge.svg');
}

