body {
    min-height: 2000px;
    padding-top: 70px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.fridge-icon {
    width: 14px;
    height: 14px;
    content:url('../img/fridge.png');
}
