body {
    padding-top: 70px;
}

/*TODO: fix weird button alignment*/
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand {float:none;}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.fridge-icon {
    width: 14px;
    height: 14px;
    content: url('../img/icons/fridge.svg');
}

/* canvas styles */
html, body
{
    font:normal normal normal 100%/1.4 tahoma, sans-serif;
    background:#f9f9f9;
    color:#000;
}
body
{
    font-size:0.8em;
}

/* draggable targets - two lists */
[data-draggable="target"]
{
    float:left;
    list-style-type:none;

    width:100%;
    height:30.5em;
    overflow-y:auto;

    margin:0 0.5em 0.5em 0;
    padding:0.5em;

    border:2px solid #888;
    border-radius:0.2em;

    background:#ddd;
    color:#555;
}

/* draggable items */
[data-draggable="item"]
{
    display:block;
    list-style-type:none;

    margin:0 0 2px 0;
    padding:0.2em 0.4em;

    border-radius:0.2em;

    line-height:1.3;
}

.form-inline{
    display:inline-block;
}

.dropdown-scrollable {
    width: 22em;
    height: 8em;
    line-height: 1em;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 10px;
}

.kitchen-list-scrollable{
    width: 22em;
    height: 8em;
    line-height: 1em;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 10px;
    padding-top: 1em;
}

.list-kitchen a{
    width: 60px;
    height: auto;
}

