<li class="panel panel-info" style="margin-bottom: 0px; margin-top: 5px" id="{{name}}">
    <div class="panel-heading" style="font-size: large; font-family: 'Comic Sans MS'">
        {{name}}
        <a href="#" onclick="kitchen.delete_category('{{name}}')" style="float: right">
            <span class="glyphicon glyphicon-remove glyphicon-user" id="categoryDelete-{{name}}" style="color:#cccccc; float: right"></span>
        </a>
    </div>
</li>