<li class="list-group-item {{#if available}} list-group-item-success {{else}} list-group-item-danger {{/if}}" id="{{name}}">
    {{name}}
    <a href="#" onclick="recipes.delete_recipe($(this).parent().attr('id'))" style="float: right">
        <span class="glyphicon glyphicon-remove glyphicon-user" id="recipeDelete-{{name}}" style="color:#cccccc"></span>
    </a>
</li>