<li class="list-group-item {{#if available}} list-group-item-success {{else}} list-group-item-danger {{/if}}">
    {{name}}
    <a href="#" style="float: right"><span class="glyphicon glyphicon-remove glyphicon-user" style="color:#cccccc"></span></a>
</li>