<li class="list-group-item col-lg-6" id="{{name}}">
    {{name}}
    <a href="#" onclick="settings.delete_measure_unit($(this).parent().attr('id'))" style="float: right">
        <span class="glyphicon glyphicon-remove glyphicon-user" id="settingsDelete-{{name}}" style="color:#a94442"></span>
    </a>
</li>